footer.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  text-align: center;
  @media (max-width:767px) {
    padding: 1.2rem;
  }
  
  > p {
      color: var(--text-light);
      font-size: .8rem;
      margin-bottom: -.4rem;
      a {
        text-decoration: none;
        color: var(--blue);
        &:hover {
          border-bottom: 1px dotted var(--blue);
        }
      }
  }
}